html,
body {
    height: 100%;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--background-colour);
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    flex-shrink: 0;
}

footer a {
    color: #767676;
}

footer i {
    color: #767676;
    font-size: 60px;
    margin-left: 25px;
}

footer .img {
    width: 20px;
}

.wrapper {
    flex: 1 0 auto;
}